body {
    padding: 0px;
    margin: 0px;
    background-color: #F0EDE6;
    color: #0D3EC9;
    overflow-x: hidden;
}


p {
    margin: 0px;
}

.columnname {
    font-size: 80px;
    font-weight: 600;
    font-family: 'Fraunces', serif;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #0D3EC9;
}

.exit {
    float: right;
    right: 10px;
    position: fixed;
    /* width: 25px; */
}

.nav {
    width: 250px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-bottom: 1px solid #0D3EC9;
    border-right: 1px solid #0D3EC9;
    /* background-color: red;; */
}


.navcontainer {
    font-family: 'Work Sans';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .8px;
    border-bottom: 1px solid #0D3EC9;
    padding-top: 25px;
    padding-bottom: 25px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
} 

.container {
    position: absolute;
    margin-left: 250px;
    float: left;
}

.plantcontainer {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #0D3EC9;
}

.row-container {
    /* background-color: red; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    position: relative;
    /* padding-top: 30px; */
    padding-left: 50px;
    padding-right: 50px;
    /* padding-bottom: 30px; */
}


.rowname {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 100px;
    text-transform: uppercase;
}

#translation {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-size: 62px;
    font-weight: 200;
}

.tagscontainer {
    display: table;
    margin-top: 20px;
}

.tags {
    display: table-cell;
    flex-direction: row;
    vertical-align: middle;
    padding: 10px;
}

.icon {
    height: 20px;
    width: auto;
    float: left;
    fill: #03463A;
}

.icontext {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    float: left;
    padding-left: 10px;
}

.allcaps {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.preparation {
    width: 500px;
}

.preparationheader {
    font-family: 'Fraunces', serif;
    font-size: 34px;
}

.body {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.sticker {
    position: absolute;
    transform: rotate(10deg);
    margin-left: -20px
}

.image {
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
}