body {
    padding: 0px;
    margin: 0px;
    background-color: #F0EDE6;
    color: #03463A;
}

::-webkit-scrollbar {
    display: none;
}

p {
    margin: 0px;
}

a:link {
    color: #03463A;
    text-decoration: none;
}

a:visited {
    color: #03463A;
}

.nav {
    width: auto;
    height: 50px;
    position: fixed;
    background-color: #F0EDE6;
    display: table;
    margin-top: 30px;
    margin-left: 30px;
    z-index: 30;
    border-left: 1px solid #03463A;
    border-top: 1px solid #03463A;
    border-bottom: 1px solid #03463A;
}


.navcontainer {
    border-right: 1px solid #03463A;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}

.name {
    font-family: 'Fraunces', serif;
    font-size: 32px;
}

.pages {
    font-family: 'Work Sans';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.missiontitle {
    margin-top: 140px;
    font-size: 50px;
    font-family: 'Fraunces', serif;
    font-weight: 300;
}


.contentcontainer {
    width: 100%;
    height: 100vh;
    flex-direction: row;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    font-family: 'Work Sans';
    z-index: 20;
}

.grid-container {
    border-right: 1px solid #03463A;
    float: left;
    /* background-color: red; */
}



.column {
    /* width: 400px; */
    height: 100vh;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    float: left;
    overflow: scroll;
}

.column1 {
    width: 600px;    
    height: 100vh;
}


.missionname {
    font-size: 55px;
    margin-top: 200px;
}

.h2 {
    font-size: 55px; 
    margin-top: 150px;
}

.column2:hover {
    background-color: #0D3EC9;
    color: #F0EDE6;
}

.column3:hover {
    background-color: #6B925D;
    color: #F0EDE6;
}

.column4:hover {
    background-color: #E2A549;
    color: #F0EDE6; 
}

.column5:hover {
    background-color: #BE1A1A;
    color: #F0EDE6; 
}

a.link:hover {
    color: #F0EDE6;
}

hr.thick {
    border: 1px solid;
    background-color: #03463A;
}

hr.thin {
    border: 1px solid;
    background-color: #03463A;
    margin: 0;
}

.columnname {
    margin-top: 100px;
    font-size: 130px;
    font-family: 'Fraunces', serif;
    vertical-align: text-bottom;
}

.columnname:hover {
    font-style: italic;
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.subhead {
    text-transform: uppercase;
    font-weight: 600;
}

.rowname {
    font-family: 'Work Sans', sans-serif;
    font-size: 55px;
    font-weight: 400;
    text-transform: uppercase;
}

#translation {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 45px;
}

.tagscontainer {
    display: table;
    margin-top: 20px;
}

.tags {
    display: table-cell;
    flex-direction: row;
    vertical-align: middle;
    padding: 10px;
}

.icon {
    height: 20px;
    width: auto;
    float: left;
    fill: #03463A;
}

.icon svg:hover {
    fill: #F0EDE6;
}

.icontext {
    font-weight: 600;
    float: left;
    padding-left: 10px;
}

.preparation {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 24px;
}  

.img-crop {
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    object-position: 100% 10%; /* try 20px 10px */ 
}

.sticker-1 {
    transform: rotate(-10deg);
    padding: 15px;
    margin-top: 20px;
}

.sticker-2 {
    transform: rotate(8deg);
    margin-left: -40px;
    margin-top: 20px;
}