body {
    background: #e3f2ff;
    font-family: "Degular";
	background: linear-gradient(-60deg, #fffdb8, #a8d8ff, #ffe0d4);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: black;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#italic:hover {
    font-style: italic;
    font-weight: bold;
}

.header {
    margin: 0 auto;
    padding-top: 10%;
    z-index: 10;
    position: relative;
    padding-left: 4%;
}


.title {
    font-size: 180px;
    /* font-weight: thin; */
    line-height: 100px;
}

.subtitle {
    padding-top: 60px;
    font-size: 24px;
}


.allnatural {
    position: relative;
    top: 170px;
    left: 49vw;
    transform: rotate(10deg);
    width: 160px;
}

/* stickers */
.sticker {
    /* background-color:red; */
    position: absolute; 
    width: 200px;
    z-index: 10;
}

/* add image */
.example-1 .sticker-img {
    background-image: url(../assets/img/Wellness_Industry_Elitist/Wellness_Industry_102220_Organic.png);
    background-size: 200px 200px;
    /* background-color: #ff4a85; */
}


.draggable {
    cursor: move;
    position: absolute;
}

/* Calamansi Honey */
.ui-accordion-content .draggable1 {
   position: absolute;
   top: 10vw; 
   left: 20vw;
   width: 300px;
   transform: rotate(5deg);
}   

/* Careof */
.ui-accordion-content .draggable2 {
    position: absolute;
    top: 20vw; 
    left: 35vw;
    width: 300px;
    transform: rotate(12deg);
 }   

/* HUM */
.ui-accordion-content .draggable3 {
    position: absolute;
    top: 6vw; 
    left: 40vw;
    height: 340px;
    transform: rotate(17deg);
} 

/* Love Wellness */
.ui-accordion-content .draggable4 {
    position: absolute;
    top: 25vw; 
    left: 60vw;
    transform: rotate(-10deg);
} 

/* Persona */
.ui-accordion-content .draggable5 {
    position: absolute;
    top: 10vw; 
    left: 40vw;
    width: 400px;
    transform: rotate(-10deg);
} 

/* Pineapple */
.ui-accordion-content .draggable6 {
    position: absolute;
    top: 6vw; 
    left: 0vw;
    width: 390px;
    transform: rotate(-10deg);
} 

/* Pineapple */
.ui-accordion-content .draggable7 {
    position: absolute;
    top: 5vw; 
    left: 20vw;
    width: 330px;
    transform: rotate(-10deg);
} 

/* Pineapple */
.ui-accordion-content .draggable8 {
    position: absolute;
    top: 20vw; 
    left: 7vw;
    width: 390px;
    transform: rotate(-4deg);
} 

#circle {
    border-radius: 50%;
}

#circle:hover {
    box-shadow: 2px 5px 8px #a1abad;
    border-radius:50%;
    transition: 0.3s;
}

#droppable {
    left: 300px;    
    position: absolute;
    background-color: lightgray;
    width: 1000px;
    height: 700px;

}


#accordion {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 92%;
    margin: 0 auto;

}

#accordion .ui-accordion-header {
    font-family: "Degular";
    margin: 0px;
    border: none;
    font-size: 50px;
    border-bottom: 2px solid black;
    border-radius: 0px;
    padding-left: 0;
    padding-top: 55px;
    padding-bottom: 50px;
    color: black;
    background: transparent;
}


.ui-icon.iconClosed {
    background:url('icons/Down_Arrow.png') no-repeat !important;
    margin-top: 5px;
    padding: 30px;
    transform: scale(.6);
    float: right;
}

.ui-icon.iconOpen {
    background: url('icons/Up_Arrow.png') no-repeat !important;
    margin-top: 5px;
    padding: 30px;
    transform: scale(.6);
    float: right;
}

#accordion .ui-accordion-content {
    font-family: "Degular";
    color: black;
    width: 90%;
    height: 680px;
    border: none;
    background-color: transparent;
    margin: 20px;
    padding: 30px;
    position: relative;
    
    /* background-color: red;; */
}


.text {
    position: relative;
    font-size: 40px;
    width: 80%;
    z-index: 0;
}

.smalltext {
    position: relative;
    font-size: 40px;
    width: 80%;
    font-size: 30px;
}


.ui-accordion .ui-accordion-content{
    overflow:visible !important;
    
}




:focus {
    outline:0 !important;
}

.footer{
    padding-bottom: 5%;
    padding-left: 4%;
    font-size: 24px;
}

