body {
    background: #e3f2ff;
    font-family: "Degular";
	/* background: linear-gradient(-45deg, #e3f2ff, #edf9fa, #7e9ede);
	background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: black; */

}
/* 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

.text {
    position: absolute;
}

#italic:hover {
    font-style: italic;
    font-weight: bold;
}

.header {
    margin: 0 auto;
    text-align: center;
    padding-top: 6%;
    line-height: 150px;
    z-index: 10;
    position: relative;
}

.title {
    font-size: 250px;
}

.subtitle {
    font-size: 36px;
}

.allnatural {
    position: absolute;
    top: 200px;
    left: 70vw;
    transform: rotate(20deg);
    width: 160px;
    /* z-index: 0; */
}

.draggable {
    cursor: move;
    position: absolute;
}

/* calamansi honey */
.ui-accordion-content .draggable1 {
   top: 30vw; 
   left: 20vw;
   width: 300px;
   transform: rotate(5deg);
}   

/* Careof */
.draggable2 {
    /* top: 30vw;  */
    left: 35vw;
    width: 300px;
 }   

/* HUM */
.draggable3 {
    top: 25vw; 
    left: 60vw;
    height: 340px;
    transform: rotate(17deg);
} 

/* Love Wellness */
.draggable4 {
    top: 30vw; 
    left: 70vw;
    width: 200px;
    transform: rotate(-10deg);
} 

/* Persona */
.draggable5 {
    top: 40vw; 
    left: 40vw;
    width: 400px;
    transform: rotate(-10deg);
} 

/* Pineapple */
.draggable6 {
    top: 25vw; 
    left: 0vw;
    width: 390px;
    transform: rotate(-10deg);
} 

/* Pineapple */
.draggable7 {
    top: 43vw; 
    left: 30vw;
    width: 390px;
    transform: rotate(-10deg);
} 

/* Pineapple */
.draggable8 {
    top: 43vw; 
    left: 10vw;
    width: 390px;
    transform: rotate(15deg);
} 

#circle {
    border-radius: 50%;
}

#circle:hover {
    box-shadow: 2px 5px 8px #a1abad;
    border-radius:50%;
    transition: 0.3s;
}

#droppable {
    left: 300px;    
    position: absolute;
    background-color: lightgray;
    width: 1000px;
    height: 700px;

}


#accordion {
    position: relative;
    padding-top: 5%;
    padding-bottom: 10%;
    width: 92%;
    margin: 0 auto;

}

#accordion .ui-accordion-header {
    font-family: "Degular";
    margin: 0px;
    border: none;
    font-size: 60px;
    border-bottom: 2px solid black;
    border-radius: 0px;
    padding-left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
    background: #e3f2ff;

  }



.ui-icon.iconClosed {
    background:url('icons/Down_Arrow.png') no-repeat !important;
    margin-top: 5px;
    padding: 30px;
    transform: scale(.7);
    float: right;
}

.ui-icon.iconOpen {
    background: url('icons/Up_Arrow.png') no-repeat !important;
    margin-top: 5px;
    padding: 30px;
    transform: scale(.7);
    float: right;
}

#accordion .ui-accordion-content {
    font-family: "Degular";
    color: black;
    width: 100%;
    height: 550px;
    font-size: 40pt;
    line-height: 40pt;
    border: none;
    overflow: auto !important; 
    background-color: #e3f2ff;
    margin: 00px;
    padding: 30px;
    
}



:focus {
    outline:0 !important;
}