body {
    padding: 0px;
    margin: 0px;
    background-color: #F0EDE6;
    color: #03463A;
}

::-webkit-scrollbar {
    display: none;
}


p {
    margin: 0px;
}

a:link {
    text-decoration: none;
    color: #03463A;
}

a:visited {
    color: #03463A;
}

.nav {
    width: auto;
    height: 50px;
    position: fixed;
    background-color: #F0EDE6;
    display: table;
    margin-top: 30px;
    margin-left: 30px;
    z-index: 30;
    border-left: 1px solid #03463A;
    border-top: 1px solid #03463A;
    border-bottom: 1px solid #03463A;
}


.navcontainer {
    border-right: 1px solid #03463A;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}

.name {
    font-family: 'Fraunces', serif;
    font-size: 32px;
}

.pages {
    font-family: 'Work Sans';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.section {
    padding: 100px;
}

.section1 {
    background-color: #03463A;
    color: #F0EDE6;
}


.section2 {
    color: #03463A;
 }

.section3 {
    background-color: #03463A;
    color: #F0EDE6;
    height: 850px;
}

.section4 {
    color: #D9741A;
}

.intro-title {
    margin-top: 200px;
    width: 700px;
    /* background-color: yellow; */
}


.timeframe {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
}

.allcaps {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.square {
    width: 150px;
    height: 150px;
    background-color: fuchsia;
}

.h1 {
    font-family: 'Fraunces', serif;
    font-weight: 300;
    font-size: 150px;
    position: relative;
}

.body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin-top: 72px;
    width: 500px;
}


.h2 {
    font-family: 'Work Sans';
    font-size: 55px;
}

.h3 {
    font-size: 40px;
    font-family: 'Fraunces', serif;
}

.title{
    font-size: 50px;
    font-family: 'Fraunces', serif;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 50px;
}


.translation {
    font-family: 'Fraunces', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 45px;
}

.icon svg:hover {
    fill: #F0EDE6;
}

.img-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.img-container {
    padding: 40px;
    width: auto;
    height: auto;
    float: left;
}

.img-item {
    float: left;
}

.caption {
    font-family: 'Work Sans';
    font-size: 15px;
    position: relative;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    padding-left: 10px;

}

.holistic {
    opacity: 0;
    float: left;
    padding-right: 20px;
}

.container {
    width: 1000px;
    height: 300px;
    position: relative;
    /* background-color: yellow; */
}


.stagger-type {
    position: relative;
}

.img-overlap {
    position: absolute;
    margin-left: 500px;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.row-item {
    float: left;
}

.italic {
    float: right;
}

.evil {
    opacity: 0;
    float: left;
}

.callout {
    padding-top: 100px;
    padding-bottom: 100px;
}